<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <script src="../../../assets/vue.min.js"></script>
  <link rel="stylesheet" href="../../../assets/bootstrap.min.css" />
</head>

<body>
  <div id="start">
    <div class="row align-items-center alert alert-light" role="alert" id="status"
      style="width: 100%; margin-left: 0px; margin-right: 0px;">
      <div class="input-group mb-3">
        <input v-model="data.ip" type="text" class="form-control hy-nostyle" placeholder="IP Address" />
      </div>
      <div class="input-group mb-3">
        <input v-model="data.port" type="text" class="form-control hy-nostyle" placeholder="Port" />
      </div>
      <div class="input-group mb-3">
        <input v-model="data.username" type="text" class="form-control hy-nostyle" placeholder="Username" />
      </div>
      <div class="input-group mb-3">
        <input v-model="data.password" type="password" class="form-control hy-nostyle" placeholder="Password" />
      </div>
      <div class="input-group mb-3">
        <small class="form-text text-muted">Polling period, seconds</small>
      </div>
      <div class="input-group mb-3">
        <input v-model="data.interval" type="number" class="form-control hy-nostyle" placeholder="30" min="10" max="3600" />
      </div>
      <div>
        <button @click="connect" type="button" class="btn btn-outline-dark float-end hy-nostyle" style="height: auto;">Connect</button>
      </div>

    </div>
  </div>

  <script>
    Homey.setTitle("Add Network UPS Tool (NUT) IP and Port");

    new Vue({
      el: "#start",
      data: function () {
        return {
          data: {
            ip: '',
            port: 3493,
            username: '',
            password: '',
            interval: 30
          }
        }
      },
      methods: {
        connect() {
          Homey.showLoadingOverlay();

          let alert = document.getElementById(`status`);
          let alertTitle = document.getElementsByClassName(`statusAlertShow`);
          let listDevices = document.getElementById("listDevices");

          Homey.emit("connect", this.data, (error) => {
            Homey.hideLoadingOverlay();
            if (error) {
              alert.classList.remove("alert-light");
              alert.classList.remove("alert-warning");
              alert.classList.add("alert-danger");
              alertTitle[0].innerHTML = "Error: " + error.message;
              listDevices.style.setProperty("display", "none");
            } else {
              Homey.nextView();
            }
          });
        },
        getSettings() {
          Homey.emit('getSettings', {}, (err, res) => {
            if (err) {
              Homey.alert(err);
            } else {
              if (res) {
                this.data.ip = res.ip || '';
                this.data.port = res.port || 3493;
                this.data.interval = res.interval || 30;
                this.data.username = res.username || '';
                this.data.password = res.password || '';
              }
            }
          });
        },
        goNextView() {
          Homey.nextView();
        }
      },
      beforeMount() {
        this.getSettings()
      },
    });
  </script>
</body>

</html>